@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Roboto:wght@400;500;600;700&display=swap');

@theme {
  --font-primary: "Roboto", sans-serif;
  --font-arima: "Arima Madurai";

}

@import "tailwindcss";

body {
  font-family: var(--font-primary);
}

:root {
  --color-orange-light: #FFB469;
  --color-orange-dark: #E57709;
  --color-green: #50c577;
  --color-blue: #2dbefc;

  --my-gradient-green: linear-gradient(to right, #50C577, #C4EACE, #2dbefc);
  --g-80: 80px;
  --g-60: 60px;
  --g-40: 40px;
  --g-24: 24px;
}

.bg-gradient-greenblue {
  background-image: var(--my-gradient-green);

}

.bg-gradient-mygreen {
  background-image: linear-gradient(to right, #50C577, #2DBEFC);
}

.bg-button {
  background-image: linear-gradient(to bottom, #FFB469, #E57709);
}

.bg-button:hover {
  background-image: linear-gradient(to bottom, #f3a04c, #dc6f02);
}

.border-gradient {
  border: 4px solid transparent;
  background-image: linear-gradient(to right, #50C577, #2DBEFC);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.footer-curved-top {
  clip-path: ellipse(95% 100% at 50% 100%);
}

@media (max-width: 1023px) {
  .footer-curved-top {
    clip-path: ellipse(200% 100% at 50% 100%);
  }
}